<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('crud.static', filename='style.css')}}">
    <!-- titleを継承先で実装する -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div>Flask App</div>
    {% if current_user.is_authenticated %}
    <p>
        <span>{{ current_user.username }}</span> -
        <span><a href="{{ url_for('auth.logout') }}">ログアウト</a></span>
    </p>
    {% endif %}
</header>
<!-- contentを継承先で実装する -->
{% block content %}{% endblock %}
</body>
</html>