{% extends "crud/base.html" %}

{% block title %} ユーザ新規作成 {% endblock %}

{% block content %}
<h2>ユーザ新規作成画面</h2>
<form action="{{ url_for('crud.create_user') }}" method="POST" novalidate>
    {{ form.csrf_token }}
    <div>
        <p>
            {{ form.username.label }} {{ form.username(placeholder="ユーザ名") }}
        </p>
        <p>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
    </div>
    <div>
        <p>
            {{ form.email.label }} {{ form.email(placeholder="メールアドレス") }}
        </p>
        <p>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
    </div>
    <div>
        <p>
            {{ form.password.label }} {{ form.password(placeholder="パスワード") }}
        </p>
        <p>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
    </div>
    <div>
        <p>{{ form.submit() }}</p>
    </div>
</form>
{% endblock %}
